{% extends "base.html" %}

{% block konten%}

<!--arena html-->
<div class="container-fluid">

<h1>Jenis Buku</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minus, rem iste ut quis voluptate nemo impedit ad animi incidunt dolor odio excepturi cupiditate molestiae asperiores aspernatur odit? Cumque, aut!</p>

<!--form jenis buku-->
<div class="jumbotron col-7">
    
<form method="POST">
    {{form.hidden_tag()}}
<div class="form-group">
    {{form.jenisbuku.label(class="form-control-label")}}
    {% if form.jenisbuku.errors %}
         {{form.jenisbuku(class="form-control is-invalid")}}

         <div class="invalid-feedback">
             {%for error in form.jenisbuku.errors %}
             <span>{{error}}</span>
             {% endfor %}
         </div>
    {%else%}
        {{form.jenisbuku(class="form-control")}}
    
    {%endif%}
</div>

<div class="form-group">
    {{form.keterangan.label(class="form-control-label")}}
    {% if form.keterangan.errors %}
         {{form.keterangan(class="form-control is-invalid")}}

         <div class="invalid-feedback">
             {%for error in form.keterangan.errors %}
             <span>{{error}}</span>
             {% endfor %}
         </div>
    {%else%}
        {{form.keterangan(class="form-control")}}
    
    {%endif%}
</div>

<div class="form-group">
    {{form.submit(class="btn btn-primary")}}
</div>

</form>
</div>



</div>






{% endblock%}